body,
div,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --dark1: black;
  --light1: white;
  --dark2: darkblue;
  --light2: lightblue;
  background-color: var(--light1);
  color: var(--dark1);
}

button {
  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

/* Search bar input */
input {
  display: block;
  width: 95%;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid var(--dark2);
  outline: none;
  margin: 5px;
}

/* Search bar label */
label {
  font-weight: bold;
  font-size: 1.1em;
}

.small {
  font-size: small;
  font-weight: normal;
}

/* Characters List on index.html*/
#charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

/* Films List on index.html */
#filmsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#charactersList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}

#filmsList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}

/* Character page */
h1#name {
  margin: 50px;
}

#generalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#generalInfo p {
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
}

#generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
}


h1 span#starship_class { 
  padding: 50px;
  position: relative;
  top: 20px;
}

section#planets,
section#characters,
section#starships,
section#films,
section#people,
section#pilots { /* Added pilots section */

  margin: 50px;
}

section#planets ul,
section#characters ul,
section#starships ul,
section#films ul,
section#people ul,
section#pilots ul { /* Added pilots section */
  list-style-type: none;
  padding: 0;
}

section#planets a,
section#characters a,
section#starships a,
section#films a,
section#people a,
section#pilots a { /* Added pilots section */
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}
