body,
div,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --dark1: black;
  --light1: white;
  --dark2: black;
  --light2: yellow;
  background-color: var(--light1);
  color: var(--light2);
  background-image: url('assets/star-wars-background.jpeg');
}

button {
  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

input {
  display: block;
  width: 95%;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid var(--dark2);
  outline: none;
  margin: 5px;
}

label {
  font-weight: bold;
  font-size: 1.1em;
}

.small {
  font-size: small;
  font-weight: normal;
}

#charactersList,
#filmsList,
#starshipsList,
#planetsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#charactersList div,
#filmsList div,
#starshipsList div,
#planetsList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}

#filmH1,
#characterH1,
#starshipH1,
#planetH1 {
  margin-top: 50px;
}

h1#name,
h1#title,
h1#starship_class { 
  margin: 50px; 
}

#generalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#generalInfo p {
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
}

#generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
}

section#planets,
section#characters,
section#starships, 
section#films,
section#people,
section#pilots {
  margin: 50px;
}

section#planets ul,
section#characters ul,
section#starships ul, 
section#films ul,
section#people ul,
section#pilots ul {
  list-style-type: none;
  padding: 0;
}

section#planets a,
section#characters a,
section#starships a, 
section#films a,
section#people a,
section#pilots a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

/* styles.css */
#starship-animation {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; 
  margin: 0; 
  padding: 0; 
}

#starship {
  position: absolute;
  top: 20%; 
  left: -300px; 
  width: 300px; 
  animation: fly-across 10s linear forwards;
}

section {
  margin: 0; 
  padding: 0; 
}

#films {
  margin-top: 10px; 
}

@keyframes fly-across {
  from {
    left: -300px; /* Start off-screen */
  }
  to {
    left: 100%; /* End off-screen */
  }
}

div:has(#openingCrawl) {
  perspective: 500px;
}

#openingCrawl {
  perspective: 1000px;
   p {
    text-align: center;
    padding: 20px;
    width: 70%;
    margin: 50px auto;
    font-size: 2em;
    color: yellow;
    background-color: none;
    overflow: hidden;
    animation: 15s linear 0s 1 forwards crawl-up;
  }
}

@keyframes crawl-up {
  from {
    transform: translateY(100%) rotateX(30deg);
  }
  to {
    transform: translateY(0) rotateX(30deg);
  }
}
